.mode-selector {

  .mode-container {
    margin: 10px;

    .mode {
      margin: 0 7px;
      opacity: 0.5;

      height: 100px;
      width: 100px;
      &.active {
        opacity: 1;
      }
    }

    .ACCOUNT {
      background: url("../../../../assets/images/new/mode-account.svg") no-repeat center center;
      height: 117px;
      width: 117px;
    }

    .CASH {
      background: url("../../../../assets/images/new/mode-cash.svg") no-repeat center center;
    }

    .WARI_PASS,
    .WARIPASS {
      background: url("../../../../assets/images/new/mode-wari-pass.svg") no-repeat center center;
    }

    .CARD {
      background: url("../../../../assets/images/new/mode-cb.svg") no-repeat center center;
    }

    .WALLET {
      background: url("../../../../assets/images/new/mode-e-wallet.svg") no-repeat center center;
    }

  }
}
