.mode-selector{

}

.mode {
  margin: 0 auto 10px;

  background-size: cover;
  height: 100px;
  width: 100px;
}

.mode-account {
  background-image: url('../../../../assets/images/tmp/account.png');
}

.mode-cash {
  background-image: url('../../../../assets/images/tmp/cash.png');
}

.mode-wari-pass {
  background-image: url('../../../../assets/images/tmp/wari-pass.png');
}
