<div class="row m-0 align-items-center tr-body-header">
  <div class="col col-12 p-0 row m-0 justify-content-center">
    <!--<div>-->
    <div class="tr-circle-text">1</div>
    <div class="tr-circle-text-title" i18n>Sender</div>
    <!--</div>-->
  </div>
</div>


<div class="container">

  <div class="f-row">
    <div class="f-col f-text" i18n>Sending country</div>
  </div>

  <div class="f-row">
    <div class="f-col col-1">@</div>
    <div class="f-col col-11">
      <select class="custom-select w-100" [(ngModel)]="sendMoneyRequest.sender.identityCountry">
        <option value="undefined" disabled selected hidden i18n>Sending country</option>
        <option *ngFor="let country of allCountries" value="{{country.id}}">{{country.name}}</option>
      </select>
    </div>
  </div>

  <div class="f-row">
    <div class="f-col f-text" i18n>Amount to send</div>
  </div>

  <div class="f-row">
    <div class="f-col col-11"><input type="text" class="form-control" placeholder="Amount to send"
                                     i18n-placeholder/></div>
    <div class="f-col col-1 f-text">XOF</div>
  </div>

  <div class="f-row">
    <div class="f-col f-text" i18n>Are you have Wari account?</div>
  </div>
  <div class="f-row">
    <div class="f-col col-10">
      <input type="text" class="form-control" placeholder="# account / portable" i18n-placeholder/>
    </div>
    <div class="f-col col-1">
      <button type="button" class="btn btn-primary" i18n="ok">OK</button>
    </div>
    <div class="f-col col-1">#</div>
  </div>

  <div class="f-row">
    <div class="f-col f-text"></div>
  </div>

  <div class="f-row">
    <div class="f-col col-6">
      <input type="text" class="form-control" placeholder="Last name" i18n-placeholder
             [(ngModel)]="sendMoneyRequest.sender.lastName"/>
    </div>
    <div class="f-col col-6">
      <input type="text" class="form-control" placeholder="First name" i18n-placeholder
             [(ngModel)]="sendMoneyRequest.sender.firstName"/>
    </div>
  </div>

  <div class="f-row">
    <div class="f-col col-1 f-text">+</div>
    <div class="f-col col-11">
      <input type="text" class="form-control" placeholder="Phone number" i18n-placeholder
             [(ngModel)]="sendMoneyRequest.sender.phoneNumber"/>
    </div>
  </div>

  <div class="f-row">
    <div class="f-col col-8">
      <input type="text" class="form-control" placeholder="identification piece" i18n-placeholder/>
    </div>
    <div class="f-col col-4">
      <input type="text" class="form-control" placeholder="#" i18n-placeholder/>
    </div>
  </div>

  <div class="f-row">
    <div class="f-col col-4">
      <select class="custom-select w-100" [(ngModel)]="sendMoneyRequest.destinationCountryId">
        <option value="undefined" disabled selected hidden i18n>Country</option>
        <option *ngFor="let country of allCountries" value="{{country.id}}">{{country.name}}</option>
      </select>
    </div>
    <div class="f-col col-4">
      <input type="text" class="form-control" placeholder="Deliverance" i18n-placeholder/>
    </div>
    <div class="f-col col-4">
      <input type="text" class="form-control" placeholder="Validate" i18n-placeholder/>
    </div>
  </div>

</div>

<button class="btn btn-primary" (click)="goStep2()">next</button>

