@import "../../../../styles/styles-variables";

.internal-component {
  height: 100vh;
}

$na-bar-height: 50px;
$na-top-icon: 32px;
$na-logo-size: 80px;
$na-l-button-circle-size: 120px;

.na-top {
  height: $na-bar-height;
  background-color: $app-green;
  color: white;
  //border-bottom: solid 1px white;
}

.na-button {
  margin: 0 14px;
}

.na-username {
  font-size: 12px;
}

.na-top-title {
  line-height: $na-bar-height;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.na-top-logo {
  position: absolute;
  top: $na-bar-height - $na-logo-size / 2;
  left: calc(50% - 40px);
  z-index: 10;

  border: solid 2px white;
  border-radius: 50%;
  background-color: $app-green;
  font-size: 24px;
  //font-style: italic;
  font-weight: bold;
  height: $na-logo-size;
  width: $na-logo-size;
  line-height: $na-logo-size * 0.9;
  text-align: center;
}

.na-top-icon {
  width: $na-top-icon;
  height: $na-top-icon;
}

.na-button-icon-close {
  width: 18px;
  height: 18px;
}

.na-button-description-close {
  font-size: 9px;
}

.na-l-button-circle {
  border: solid 1px white;
  border-radius: 50%;
  background-size: cover;

  height: $na-l-button-circle-size;
  width: $na-l-button-circle-size;
}

.na-l-button-description {
  text-align: center;
}

@media (max-height: 484px) {
  .na-l-button-description {
    //display: none;
  }
}

@media (max-height: 412px) {
  .na-l-button-circle {
    display: none;
  }
  .na-l-button-description {
    display: block;
  }
}

.na-l-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  border: solid 0 white;
  color: white;
}

.na-l-button-1 {
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.na-l-button-2 {
  border-bottom-width: 1px;
}

.na-l-button-3 {
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.na-l-button-4 {
  border-bottom-width: 1px;
}

.na-l-button-5 {
  border-right-width: 1px;
}

.na-l-button-6 {
}

.na-l-phone {
  background-color: $app-dark-blue;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/phone.png');
  }
}

.na-l-transfer {
  background-color: $app-light-green;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/transfer.png');
  }
}
.na-l-transfer-send {
  background-color: $app-light-green;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/transfer_send.png');
  }
}
.na-l-transfer-refund {
  background-color: $app-light-green;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/transfer_refund.png');
  }
}
.na-l-transfer-withdrawal {
  background-color: $app-light-green;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/transfer_withdrawal.png');
  }
}

.na-l-bill {
  background-color: $app-pink;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/bill.png');
  }
}
.na-l-bill-water {
  background-color: $app-pink;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/bill_water.png');
  }
}
.na-l-bill-electricity {
  background-color: $app-pink;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/bill_electricity.png');
  }
}
.na-l-bill-tv {
  background-color: $app-pink;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/bill_tv.png');
  }
}

.na-l-mywari {
  background-color: $app-yellow;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/mywari.png');
  }
}

.na-l-insurance {
  background-color: $app-orange;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/insurance.png');
  }
}

.na-l-counter {
  background-color: $app-blue;
  .na-l-button-circle {
    background-image: url('../../../../assets/images/tmp/sidenav/counter.png');
  }
}


.na-submenu {
  display: block;
  position: absolute;
  top: 0;

  width: 50%;
  height: 100%;
  z-index: 1;

  color: white;
}

.na-submenu-left {
  left: 0;
}

.na-submenu-right {
  right: 0;
}
