.tab {
  margin: 0 auto 10px;

  background-size: cover;
  height: 100px;
  width: 100px;
}

.tab-account {
  background-image: url('../../../../assets/images/tmp/account.png');
}

.tab-cash {
  background-image: url('../../../../assets/images/tmp/cash.png');
}

.tab-wari-pass {
  background-image: url('../../../../assets/images/tmp/wari-pass.png');
}
