<ngb-tabset justify="justified" (tabChange)="beforeTabChange($event)">
  <ngb-tab id="account">
    <ng-template ngbTabTitle>
      <div class="tab tab-account"></div>
    </ng-template>
    <ng-template ngbTabContent>

      <div class="f-container">
        <div class="f-row">
          <div class="f-col col-10">
            <div class="input-group">
              <span class="input-group-addon">+221</span>
              <input type="text" class="form-control" placeholder="Phone number ..." i18n-placeholder/>
            </div>
          </div>
          <div class="f-col col-2">
            <button type="button" class="btn btn-primary" (click)="onOkButton()" i18n="ok">OK</button>
          </div>
        </div>
      </div>

    </ng-template>
  </ngb-tab>
  <ngb-tab id="cash">
    <ng-template ngbTabTitle>
      <div class="tab tab-cash"></div>
    </ng-template>
    <ng-template ngbTabContent>

      <div class="f-container">
        <div class="f-row">
          <div class="f-col col-5 f-text" i18n>Payment type:</div>
          <div class="f-col col-3 f-text">
            <input id="checkbox1" type="checkbox">
            <label for="checkbox1" i18n>species</label>
          </div>
          <div class="f-col col-4 f-text">
            <input id="checkbox2" type="checkbox">
            <label for="checkbox2" i18n>e-wallet</label>
          </div>
        </div>
        <div class="f-row">
          <div class="f-col col-5 f-text" i18n="amount to be paid">Amount to be paid</div>
          <div class="f-col col-5">
            <input class="form-control" type="number" [(ngModel)]="model.amount">
          </div>
          <div class="f-col col-2">
            <button type="button" class="btn btn-primary" (click)="onOkButton()" i18n="ok">OK</button>
          </div>
        </div>
      </div>

    </ng-template>
  </ngb-tab>
  <ngb-tab id="waripass">
    <ng-template ngbTabTitle>
      <div class="tab tab-wari-pass"></div>
    </ng-template>
    <ng-template ngbTabContent>

      <div class="f-container">
        <div class="f-row">
          <div class="f-col col-5 f-text" i18n>Wari secure</div>
          <div class="f-col col-5">
            <input class="form-control" type="text" [(ngModel)]="model.wariPassToken" placeholder="WariPass Token">
          </div>
        </div>
        <div class="f-row">
          <div class="f-col col-5 f-text" i18n="amount to be paid">Amount to be paid</div>
          <div class="f-col col-5">
            <input class="form-control" type="number" [(ngModel)]="model.amount">
          </div>
          <div class="f-col col-2">
            <button type="button" class="btn btn-primary" (click)="onOkButton()" i18n="ok">OK</button>
          </div>
        </div>
      </div>

    </ng-template>
  </ngb-tab>
</ngb-tabset>
