/* You can add global styles to this file, and also import other style files */

@import "../assets/fonts/FallingSky/font.css";
@import "styles-variables";

/* Browser reset styles */
body {
  font-family: FallingSky, 'Helvetica Neue', 'Arial', sans-serif;

  .btn-primary {
    background-color: $app-green;
    border-color: $app-green;
  }

  .btn-primary:hover {
    background-color: $app-green3;
    border-color: $app-green3;
  }

  .btn-primary:focus,
  .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 166, 57, 0.5);
  }

  .btn-primary.disabled,
  .btn-primary:disabled {
    background-color: $app-green;
    border-color: $app-green;
  }

  .btn-primary:not([disabled]):not(.disabled):active,
  .btn-primary:not([disabled]):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    background-color: $app-green3;
    border-color: $app-green3;
    box-shadow: 0 0 0 0.2rem rgba(40, 166, 57, 0.5);
  }


  .btn-secondary {
    background-color: transparent;
    border-color: #fff;
  }

  .btn-secondary:hover {
    background-color: transparent;
    border-color: #fff;
  }

  .btn-secondary:focus,
  .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  }

  .btn-secondary.disabled,
  .btn-secondary:disabled {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
  }

  .btn-secondary:not([disabled]):not(.disabled):active,
  .btn-secondary:not([disabled]):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    background-color: transparent;
    border-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  }


  .input-group-addon {
    color: #fff;
    background-color: $app-pink3;
    border: 1px solid #ced4da;
  }


  .form-control {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
  }

  .form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  }

}
