/* Pluggable variables style */

$app-green: #28a639;
$app-green2: #22b24b;
$app-green3: #177123;
$app-light-green: #8fd355;
$app-dark-blue: #2a4d84;
$app-dark-blue2: #405f90;
$app-pink: #e61eb8;
$app-pink2: #e835bf;
$app-pink3: #bf0b96;
$app-yellow: #ffce00;
$app-orange: #e25c21;
$app-blue: #00ceff;
$app-violet: #664594;
$app-violet2: #543088;
