/* Layout navigation bar, side bar, footer etc. */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "styles-variables";

@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-between(md, xl) {

}

.app-scrollable {
  overflow: auto;
}

/* common transaction style */
.tr-header {
  text-align: center;
  line-height: 50px;

  border-bottom: solid white 1px;
}

.tr-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
}

.tr-subtitle {

}

$tr-circle-size: 70px;
.tr-circle-text {
  background-color: $app-green;
  border-radius: 50%;
  height: $tr-circle-size;
  width: $tr-circle-size;
  line-height: $tr-circle-size * 0.9;
  text-align: center;
  font-weight: bold;
  font-size: 42px;
}

.tr-body-header {
  height: 100px;
}

.tr-content {
  padding: 0 30px;
}

.tr-content-left {
  border-right: solid 1px white;
}

.tr-content-right {

}

/* form grid */
$fg-h-padding: 2px;
$fg-v-padding: 2px;

.f-container {
  @extend .container;
  padding-right: $fg-h-padding;
  padding-left: $fg-h-padding;
}

.f-row {
  @extend .row;
  margin-right: -$fg-h-padding;
  margin-left: -$fg-h-padding;

  padding-top: $fg-v-padding;
  padding-bottom: $fg-v-padding;

  -ms-flex-align: baseline;
  align-items: baseline;

  height: 40px;
}

.f-col {
  @extend .col;
  padding-right: $fg-h-padding;
  padding-left: $fg-h-padding;
}

.tr-tbl {
  //font-size: 14px;
  //line-height: 26px;
}

.tr-tbl-row {
  margin: 1px 0;
}

.tr-tbl-col {
  padding: 0 8px;
  font-size: 14px;
  line-height: 26px;
}

.tr-tbl-col:first-child {
  padding-left: 0;
}

.tr-pay-button {
  border: solid 1px green;
  height: 100px;
}
