@import "../../../styles/styles-variables";

.internal-component {
  height: 100vh;
}

$na-bar-height: 50px;
$na-top-icon: 32px;
$logo-size: 80px;

.na-top {
  height: $na-bar-height;
  background-color: $app-green;
  color: white;
  border-bottom: solid 1px white;
}

.na-button {
  padding: 4px;
}

.na-top-title {

  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.na-top-logo {
  position: absolute;
  top: $na-bar-height - $logo-size / 2;
  left: calc(50% - 40px);
  z-index: 1;

  border: solid 3px white;
  border-radius: 50%;
  background-color: $app-green;
  font-size: 24px;
  //font-style: italic;
  font-weight: bold;
  height: $logo-size;
  width: $logo-size;
  line-height: $logo-size * 0.9;
  text-align: center;
}

.na-top-icon {
  width: $na-top-icon;
  height: $na-top-icon;
}

.na-bottom {
}

.na-left {
  background-color: $app-light-green;
  border: solid 1px white;
}

.na-right {
  background-color: $app-pink;
  border: solid 1px white;
}
