@import "../../../styles/styles-variables";

.internal-component {
  height: 100vh;
}

$na-bar-height: 50px;
$na-top-icon: 32px;
$na-logo-size: 80px;
$na-left-button-circle-size: 70px;

.na-top {
  height: $na-bar-height;
  background-color: $app-green;
  color: white;
  //border-bottom: solid 1px white;
}

.na-button {
  padding: 4px;
}

.na-top-title {
  line-height: $na-bar-height;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.na-top-logo {
  position: absolute;
  top: $na-bar-height - $na-logo-size / 2;
  left: calc(50% - 40px);
  z-index: 1;

  border: solid 2px white;
  border-radius: 50%;
  background-color: $app-green;
  font-size: 24px;
  //font-style: italic;
  font-weight: bold;
  height: $na-logo-size;
  width: $na-logo-size;
  line-height: $na-logo-size * 0.9;
  text-align: center;
}

.na-top-icon {
  width: $na-top-icon;
  height: $na-top-icon;
}

.na-bottom {
}

.na-left {
  background-color: $app-light-green;
  //border: solid 1px white;
}

.na-right {

  //border-left: solid 1px white;
}

.na-left-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  border: solid 0 white;
  color: white;
}

.na-left-button-circle {
  border: solid 1px white;
  border-radius: 50%;

  height: $na-left-button-circle-size;
  width: $na-left-button-circle-size;
}

.na-left-button-1 {
  background-color: $app-dark-blue;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.na-left-button-2 {
  background-color: $app-light-green;
  border-bottom-width: 1px;
}

.na-left-button-3 {
  background-color: $app-pink;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.na-left-button-4 {
  background-color: $app-yellow;
  border-bottom-width: 1px;
}

.na-left-button-5 {
  background-color: $app-orange;
  border-right-width: 1px;
}

.na-left-button-6 {
  background-color: $app-blue;
}
