<div class="row m-0 align-items-center tr-body-header">
  <div class="col col-12 p-0 row m-0 justify-content-center">
    <div class="tr-circle-text">2</div>
    <div class="tr-circle-text-title" i18n>Beneficiary</div>
  </div>
</div>


<div class="container">

  <div class="f-row">
    <div class="f-col f-text" i18n>Sending country</div>
  </div>

  <div class="f-row">
    <div class="f-col col-1">@</div>
    <div class="f-col col-11">
      <select class="custom-select w-100" [(ngModel)]="sendMoneyRequest.receiver.identityCountry">
        <option value="undefined" disabled selected hidden i18n>Sending country</option>
        <option *ngFor="let country of allCountries" value="{{country.id}}">{{country.name}}</option>
      </select>
    </div>
  </div>

  <div class="f-row">
    <div class="f-col col-6">
      <input type="text" class="form-control" placeholder="Last name" i18n-placeholder
             [(ngModel)]="sendMoneyRequest.receiver.lastName"/>
    </div>
    <div class="f-col col-6">
      <input type="text" class="form-control" placeholder="First name" i18n-placeholder
             [(ngModel)]="sendMoneyRequest.receiver.firstName"/>
    </div>
  </div>

  <div class="f-row">
    <div class="f-col col-1 f-text">+</div>
    <div class="f-col col-2">
      <input type="text" class="form-control" placeholder="ind." i18n-placeholder/>
    </div>
    <div class="f-col col-9">
      <input type="text" class="form-control" placeholder="Phone number" i18n-placeholder
             [(ngModel)]="sendMoneyRequest.receiver.phoneNumber"/>
    </div>
  </div>


</div>

<app-mode-selector
  [(mode)]="sendMoneyRequest.receptionMode"
  [modes]="receptionModes"
></app-mode-selector>


<button class="btn btn-primary" (click)="goStep3()">next</button>

