@font-face {
  font-family: 'FallingSky';
  src: url('FallingSky.eot');
  src: url('FallingSky.woff2') format('woff2'),
       url('FallingSky.woff') format('woff'),
       url('FallingSky.ttf') format('truetype'),
       url('FallingSky.svg#FallingSky') format('svg'),
       url('FallingSky.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

